# Name                    Version                   
dgcnn                     0.3.2                    
gym                       0.26.2                   
keras                     2.8.0           
matplotlib                3.7.1            
networkx                  2.4                
numpy                     1.24.3           
pandas                    1.5.3            
python                    3.9.16               
pytorch                   2.0.1              
scikit-learn              1.2.2             
scipy                     1.10.1           
stellargraph              1.2.1               
tensorflow                2.8.2           
